<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="End-to-End Tests">
        <classes>
            <class name="com.xxx.LoginTest"/>
            <class name="com.xxx.AddContactTest"/>
            <!-- Add remaining 13 test classes -->
        </classes>
    </test>
</suite>